body{
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170vh;
    width: 160vh;
    font-size: 13px;
}

.container{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 700px;
}

img{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 100px;
}

h4{
   padding-top: 12px;
    margin-left: 22px;
}

h1{
    color: rgb(65, 40, 40);
    margin-left: 30px;
}

p{
    margin-left: 30px;
    color: rgb(47, 23, 23);
}

.containerr{
    background-color: rgba(176, 77, 131, 0.156);
    border-radius: 15px;
    margin-left: 30px;
    margin-inline-end: 22px;
}

li{
    padding: 10px;
    margin-left: 10px;
}

h2{
    margin-left: 30px;
    color: rgb(109, 59, 59);
}